body {
  overflow-y: scroll;
  background-color: #edeced;
  background-image: url("images/image.png");
  margin: 0;
  margin-top: 15vw;
}

p {
  margin: 2vh;
  margin-left: 1vw;
  border: 0;
  font-family: "Verdana";
  font-size: 1.0em;
  color: #474747;
}

ul {
  width: 100%;
  bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

dd::before {
  content:"•- ";
}

.menubar {
  margin: 0;
  padding:0;
  list-style: none;
  text-align: left;
  background: http://validator.w3.org;
  position: fixed;
  background-color: white;
}

.menubar li {
  display: inline;
  text-transform: capitalize;
}

.menubar a {
  display:inline-block;
  font-family: "Verdana";
  font-size: 1.4em;
  text-align:right;
  color: #474747;
  padding:1em;
  border: 0.1em;
  border-color: 'red';
  margin-left: -0.1em;
  text-decoration: none;
}

.menubar a:hover {
  color: #B6B6F6;
  background-color: transparent;
}

.mobileButtonBox {
  width: 10vw;
  height: 10vw;
  background-color: #e56037;
}

#backgroundImage {
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  width: 100em;
  position: absolute;
}

#backgroundImageFormat {
  width:150em;
  left: -6em;
  top: -25em;
  position: fixed;
  opacity: 0.7;
  -webkit-filter: blur(6px);
}

#webTitle {
  width: 100vw;
  height: 65vh;
  position: relative;
}
#bodyList {
  list-style: decimal;
  color:#474747;
  margin-left: 3em;
}

#header {
  font-family: "Verdana";
  font-size: 10vw;
  margin: 0;
  text-transform: capitalize;
  /*color : #474747;*/
  color: white;
}

#subheader {
  font-family: "Verdana";
  font-size: 3.5vw;
  text-transform: capitalize;
  text-align: justify;
  /*border-bottom: 1px black solid;*/
  border-top: 1px black solid;
  color: #474747;
}

#subheadertitle {
  font-family: "Verdana";
  font-size: 3.5vw;
  text-transform: capitalize;
  text-align: justify;
  color: white;
}

#subsubheader {
  font-family: "Verdana";
  font-size: 2.5vw;
  text-transform: capitalize;
  color : #474747;
}

#closecaption {
  font-family: "Verdana";
  font-size: 1.0vw;
  text-transform: capitalize;
  color: white;
}

#bodytext {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10em;
  text-align: left;
  width: 70%;
  padding: 4em;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Verdana";
}

#bodyTextFooter {
  text-align: center;
  margin: 0;
  margin-top: 7em;
  padding-top: 2em;
  border-top: 1px black solid;
  font-size: 80%;
}


#bodytextjustify {
  margin-top: 8em;
  margin-bottom: 20em;
  margin-right: 10em;
  text-align: justify;
  font-family: "Verdana";
}

#gradeInfo p {
  margin: 0;
  border: 0;
  margin-left: 3em;
}
