body {
  overflow-y: scroll;
  background-color: #edeced;
  margin: 0;
  margin-top: 15vw;
}

p {
  margin: 2vh;
  margin-left: 1vw;
  border: 0;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
  color: #474747;
}

ul {
  width: 100%;
  bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F00;
  margin: 0 auto;
  padding: 0;
}

video {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

dd::before {
  content:"•- ";
}

.menubar {
  margin: 0 auto;
  padding:0;
  padding-top: 0.8em;
  list-style: none;
  text-align: left;
  background: http://validator.w3.org;
  position: fixed;
  background-color: white;
}

.menubar li {
  display: inline;
  text-transform: uppercase;
  text-align: center;
}

.menubar a {
  display:inline-block;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  text-align:left;
  color: #333333;
  padding:0.7em;
  margin-left: -0.1em;
  text-decoration: none;
  animation-play-state: paused;
}

.menubar a:hover {
  color: #777777;
  background-color: transparent;
  animation-play-state: running;
}


.gitLogo {
  text-align: center;
  margin: auto;
  display: block;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 1px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	transition: width .9s ease, background-color .9s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: #333333;
}

#backgroundImageFormat {
  width:150em;
  left: -1em;
  top: -20em;
  margin: 0 auto;
  position: fixed;
  opacity: 1.0;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

#backgroundImage {
  top: 0;
  left: -20em;
  margin: 0 auto;
  border: 0;
  position: absolute;
}

#backgroundImage img {
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#backgroundImage img.top {
  animation-name: crossFade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 30s;
  animation-direction: alternate;
}

@keyframes crossFade {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#shiftRight {
  float: right;
}

#webTitle {
  /*width: 100vw;*/
  padding: 0;
  margin: 0;
  height: 65vh;
  position: relative;
}

.bodyList {
  list-style: decimal;
  color:#333333;
  margin-left: 3em;
}

.header {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  margin: 0;
  text-transform: uppercase;
  margin-left: 0.02em;
  /*color : #474747;*/
  color: white;
}

.subheader {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 2.6vw;
  text-transform: uppercase;
  text-align: justify;
  /*border-bottom: 1px black solid;*/
  border-top: 1px #d6d6d6 solid;
  color: #474747;
}

.subheadertitle {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 3.5vw;
  text-transform: uppercase;
  text-align: justify;
  color: white;
}

.subsubheader {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.9vw;
  text-transform: uppercase;
  color : #333333;
}

.scrollIndicator {
  border: 1px white solid;
  position: relative;
  top: 2em;
  margin: 0 auto;
  width: 97.5%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: white;
}

.bodytext {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10em;
  text-align: left;
  width: 50%;
  padding: 9em;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.bodyTextFooter {
  text-align: center;
  margin: 0;
  margin-top: 7em;
  padding-top: 2em;
  border-top: 1px #d6d6d6 solid;
  font-size: 80%;
}

#gradeInfo p {
  margin: 0;
  border: 0;
  margin-left: 3em;
}

@media screen and (max-width: 781px) {
  ul {
    bottom: auto;
  }
  #webTitle {
    height: 40%;
    width: 100%;
    margin: 0 auto;
  }

  .scrollIndicator {
    display: none;
  }

  .bodytext {
    padding: 3em;
    margin-bottom: 20em;
    font-size: 60%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .header {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /*color: #333333;*/
    color: white;
  }

  .subheadertitle {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 0.3em;
    color: white;
  }

  #shiftRight {
    display: none;
  }

  .menubar {
    top: 0;

    text-align: center;
    padding: 0;
  }

  .menubar a {
    font-size: 3vw;
    font-weight: bold;
  }
}
