body{
  overflow-y: scroll;
  background-color: #2A2A2A;
  margin: 0;
  margin-top: 15vw;
}

p {
  margin: 2vh;
  margin-left: 1vw;
  border: 0;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.0em;
  color: #474747;
}

ul {
  width: 100%;
  bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #F00;
  margin: 0 auto;
  padding: 0;
}

video {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

dd::before {
  content:"•- ";
}
/*
*/

.dropbtn {
    background-color: #474747;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 16px;
    font-size: 24px;
    border: none;
    top: 0;
    cursor: pointer;
    position: fixed
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #474747;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 2.3em;
    font-size: 170%;
    background-color: #f9f9f9;
    font-family: 'Raleway', sans-serif;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}
/*
*/

.imageContent {
  width: 100%;
}
.menubar {
  margin: 0 auto;
  padding:0;
  padding-top: 0.8em;
  list-style: none;
  text-align: left;
  position: fixed;
  background-color: white;
}

.menubar li {
  display: inline;
  text-transform: uppercase;
  text-align: center;
}

.menubar a {
  display:inline-block;
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4em;
  text-align:left;
  color: #333333;
  padding:0.7em;
  margin-left: -0.1em;
  text-decoration: none;
  animation-play-state: paused;
}

.menubar a:hover {
  color: #777777;
  background-color: transparent;
  animation-play-state: running;
}

video {
  width:100%;
}


.logoLink {
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
  display: block;
  width: 10vw;
}

#facebookLogoFormat {
  width: 20%;
}

#selectedPage {
  color: red;
}

#backgroundImageFormat {
  width:170em;
  left: -1em;
  top: -20em;
  margin: 0 auto;
  position: fixed;
  opacity: 1.0;
}

#backgroundImage {
  top: 0;
  left: -20em;
  margin: 0 auto;
  border: 0;
  position: absolute;
}
#shiftRight {
  float: right;
}

#webTitle {
  /*width: 100vw;*/
  padding: 0;
  margin: 0;
  height: 65vh;
  position: relative;
}

ul > li {
  list-style: decimal;
  color:#333333;
  margin-left: 3em;
}

.header {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 10vw;
  margin: 0;
  text-transform: uppercase;
  margin-left: 0.02em;
  /*color : #474747;*/
  color: white;
}

.subheader {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 140%;
  text-transform: uppercase;
  border-top: 1px #d6d6d6 solid;
  color: #474747;
}

.subheadertitle {
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
  font-size: 140%;
  text-transform: uppercase;
  text-align: justify;
  color: white;
}

.subsubheader {
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  text-transform: uppercase;
  color : black;
}

.subsubheader::after {
  content: " - ";
}

.scrollIndicator {
  border: 1px white solid;
  position: relative;
  top: 2em;
  margin: 0 auto;
  width: 97.5%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  color: white;
}

.bodytext {
  position: relative;
  margin: 0 auto;
  margin-bottom: 10em;
  text-align: left;
  width: 50%;
  padding: 4em;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgba(255, 255, 255, 1);
  font-weight: 100;
  font-family: 'Raleway', sans-serif;
}

.bodyTextFooter {
  text-align: center;
  margin: 0;
  margin-top: 7em;
  padding-top: 2em;
  border-top: 1px #d6d6d6 solid;
  font-size: 80%;
}

#gradeInfo p {
  margin: 0;
  border: 0;
  margin-left: 3em;
}

@media screen and (max-width: 1025px) {
  ul {
    bottom: auto;
  }
  #webTitle {
    height: 40%;
    width: 100%;
    margin: 0 auto;
  }

  .dropdown {
    display: inline-block;
  }

  .scrollIndicator {
    display: none;
  }

  .bodytext {
    padding: 1em;
    width: 80%;
    margin-bottom: 20em;
    font-size: 120%;
  }

  .header {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    /*color: #333333;*/
    color: white;
  }

  .subheadertitle {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 0.3em;
    color: white;
  }

  #shiftRight {
    display: none;
  }

  .menubar {
    display: none;
  }

  #backgroundImageFormat {
    opacity: 0.7;
  }
}
